.pallete{
    color: #2f3136; /*background*/
    color: #33353b; /*body*/
    color: #444444; /*button*/
    color: #343a40; /*header*/
}
.App{
    text-align: center;
    color:white;
}
.header{
    top: 0;
    position: sticky;
    background-color: #343a40;
    width: 100%;
    box-shadow: 0 0 20px 0 rgba(0,0,0,.15);
    min-height: 50px;
}
.header_in{
    
    padding:0px 30px;
    display: inline-flex;
    margin: 0px auto;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}
.logo{
    float: left;
}
.main{
    margin: 20px auto;
    display: inline-flex;
}
.body{
    margin-left: 20px;
    box-shadow: 0 0 20px 0 rgba(0,0,0,.15);
    padding-bottom: .625rem;
    padding-top: .625rem;
    float: left;
    background-color: #33353b;
    border-radius: 15px;
    min-height: 942px;
    height: 100%;
    width: 1000px;
}
.Event_banner{
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
    max-width: 100%;
    display: block;
    margin : 10px 20px;
}
h4{
    color: gray;
}